<div class="grid grid-cols-2 gap-4">
  <div class="w-full">
    <app-list-card *ngFor="let item of items$ | async" [item]="item"></app-list-card>
  </div>
  <div class="relative">
    <div class="sticky top-0 flex flex-col justify-center items-center">
      <canvas
        class="mb-8"
        baseChart
        [type]="'pie'"
        [datasets]="[ {
          data: [ plannedHours$ | async, inProgressHours$ | async, completedHours$ | async]
        } ]"
        [labels]="['Planned', 'In Progress', 'Completed' ]"
        [options]="{
          responsive: false,
        }"
        [plugins]="[]"
        [legend]="true"
      >
      </canvas>
      <canvas
        baseChart
        [height]="300"
        [type]="'bar'"
        [options]="{
          responsive: false,
        }"
        [labels]="['Tasks']"
        [datasets]="[
          { data: [ plannedHours$ | async], label: 'Planned' },
          { data: [ inProgressHours$ | async], label: 'In Progress' },
          { data: [ completedHours$ | async], label: 'Completed' }
        ]"
        [legend]="true"
      >
      </canvas>
    </div>
  </div>
</div>
