<div class="card bg-white p-4 rounded shadow mb-4 relative cursor-pointer">
  <button class="close-button absolute top-2 right-2 text-gray-600 hover:text-red-500" (click)="deleteCard()">X</button>
  <ng-container *ngIf="!isEditing; else editMode">
    <h2 class="text-xl font-bold">Name: {{ item.name }}</h2>
    <p>Description: {{ item.description }}</p>
    <p>Estimate: {{ item.estimate }} hours</p>
    <p>State: {{ item.state }}</p>
    <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4" (click)="startEditing()">Edit</button>
  </ng-container>
  <ng-template #editMode>
    <form [formGroup]="formState" (ngSubmit)="onSubmit()" class="mt-4">
      <p class="text-gray-600">{{item.state}}</p>
      <label for="name" class="block mt-2 text-sm font-medium text-gray-600">Name:</label>
      <input id="name" class="border rounded p-2 w-full" formControlName="name" />

      <label for="description" class="block mt-2 text-sm font-medium text-gray-600">Description:</label>
      <textarea id="description" class="border rounded p-2 w-full" formControlName="description"></textarea>

      <label for="estimate" class="block mt-2 text-sm font-medium text-gray-600">Estimate:</label>
      <input id="estimate" class="border rounded p-2 w-full" type="number" formControlName="estimate" />

      <button class="bg-green-500 disabled:bg-green-300 text-white px-4 py-2 rounded mt-4" type="submit" [disabled]="!formState.valid">Save</button>
    </form>
  </ng-template>
</div>
