<div class="p-4">
  <add-task-form></add-task-form>
  <div class="grid grid-cols-3 gap-4">
      <div class="example-container">
      <h2 class="text-xl font-bold mb-4">Planned</h2>
      <div
        id="Planned"
        cdkDropList
        #plannedList="cdkDropList"
        [cdkDropListData]="planned"
        [cdkDropListConnectedTo]="[inProgressList, completedList]"
        class="bg-gray-200 p-4 rounded shadow min-h-24"
        (cdkDropListDropped)="drop($event)">
        @for (item of planned; track item) {
          <app-card cdkDrag [item]="item"></app-card>
        }
      </div>
    </div>
    <div class="example-container">
      <h2 class="text-xl font-bold mb-4">In progress</h2>
      <div
        id="InProgress"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[plannedList, completedList]"
        class="bg-gray-200 p-4 rounded shadow min-h-24"
        (cdkDropListDropped)="drop($event)">
        @for (item of inProgress; track item) {
          <app-card cdkDrag [item]="item"></app-card>
        }
      </div>
    </div>
    <div class="example-container">
      <h2 class="text-xl font-bold mb-4">Completed</h2>
      <div
        id="Completed"
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[plannedList, inProgressList]"
        class="bg-gray-200 p-4 rounded shadow min-h-24"
        (cdkDropListDropped)="drop($event)">
        @for (item of completed; track item) {
          <app-card cdkDrag [item]="item"></app-card>
        }
      </div>
    </div>
  </div>

</div>
